*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../Imagenes/Fondo.png");
    background-size: 100% auto;
    background-attachment: fixed;
    color: #2f3e2f;
    
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    background: #2F5D2F;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

nav p, nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

main {
    background-color: #F5F5F5;
    padding: 40px;
    margin: 30px;
    border: 2px solid #2F5D2F;
    
}



table{
    width: 100%;
    border-collapse: collapse;
    font-size: 17px;
}

table thead{
    background: #3f6b3a;
    color: white;
}

table th, table td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    
}

table td {
    background-color: #ffffff;
}


footer {
    text-align: center;
    padding: 30px;
    background: #2F5D2F;
    color: white;
    margin-top: 40px;
}

