*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../Imagenes/Fondo.png");
    background-size: 100% auto;
    color: #2f3e2f;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main{
    flex-grow: 1;
    display: grid;
    place-content: center;
}

section{
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin: 10px;
    
}

section p{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #3b5e3b;
    text-align: center;
}

form label{
    font-weight: bold;
    font-size: 15px;
    color: #2f4a2f;
}


form input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color:#dff5d8;
}

form button{
    
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #3f6b3a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;

}


footer{
    text-align: center;
    padding: 30px;
    background: #3f6b3a;
    color: white;
}